html, body {
width: 100%;
height: 100%;
padding: 0;
margin: 0;
}

#container {
position: fixed;
top: 50px;
width: 100%;
height: 100%;
}


#container #editor {
position: absolute;
padding-bottom: 20px;
top: 0;
bottom: 0;
left: 0;
right: 50%;
overflow: scroll;
}

#container #right {
position: absolute;
top: 0;
bottom: 0;
left: 50%;
right: 0;
}


#container #right #view {
position: relative;
height: 60%;
width: 100%;
margin-top: 10px;
overflow: scroll;
}

#container #right #console {
position: relative;
margin-bottom: 20px;
height: 30%;
width: 100%;
overflow-y: scroll;
}


.show {
display: block;
}

table.hovertable {
font-family: verdana,arial,sans-serif;
font-size:11px;
color:#333333;
border-width: 1px;
border-color: #999999;
border-collapse: collapse;
width: 100%;
}
table.hovertable th {
background-color:#c3dde0;
border-width: 1px;
padding: 8px;
border-style: solid;
border-color: #a9c6c9;
}
table.hovertable tr {
background-color:#d4e3e5;
}
table.hovertable td {
border-width: 1px;
padding: 8px;
border-style: solid;
border-color: #a9c6c9;
}
.dropdown-submenu {
position: relative;
}

.dropdown-submenu>.dropdown-menu {
top: 0;
left: 100%;
margin-top: -6px;
margin-left: -1px;
-webkit-border-radius: 0 6px 6px 6px;
-moz-border-radius: 0 6px 6px;
border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
display: block;
}

.dropdown-submenu>a:after {
display: block;
content: " ";
float: right;
width: 0;
height: 0;
border-color: transparent;
border-style: solid;
border-width: 5px 0 5px 5px;
border-left-color: #ccc;
margin-top: 5px;
margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
border-left-color: #fff;
}

.dropdown-submenu.pull-left {
float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
left: -100%;
margin-left: 10px;
-webkit-border-radius: 6px 0 6px 6px;
-moz-border-radius: 6px 0 6px 6px;
border-radius: 6px 0 6px 6px;
}